<!DOCTYPE html>
<html>
<head>
<style>
	body {
    	background-color: pink;
	}

	h1 {
    	color: black;
   		margin-left: 20px;
	} 

	img {
		float: right;
	}
</style>
</head>
<body>

<h1>Master</h1>
<p>External style sheet.</p>

<p>This imgage will float to the right. It is a floated element.</p>

<p><img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/57cf3d2846c3c4d2933a9d28/1474332420480/DSC_5454.jpg" alt="Kittens" style="width:700px;height:575px;">All of these kittens are adorable. I would love to get a pet, but University of Washington housing does not allow it.</p>

<img src="https://i.pinimg.com/736x/67/83/3b/67833b5e87a5c340c40acdeb074b18cd--cute-kittens-kittens-meowing.jpg" height="400" width="600" style="border-radius: 25px;">

</body>
</html>
